---
layout: default
title: About
footer-shape: about-2
---

<div class="pg-top">
  <div class="push-2 pad-b-2">
    <div class="relative push">
      <h1 class="f-sp white pad-t-2 text-center nina bg-prim">About</h1>
      <img class="behind bg-shape-about-1" src="{{site.baseurl}}/images/bg-shapes/about-1.svg" role="presentation">
    </div>
    <div class="edges2 grid grid-middle pad-t-2 animate-in">
      <div class="unit xs-1 l-1-2 gutter-3 unit-push-l-1-2 push-0">
        {% include img.html img="/images/temp.jpg" alt="A temporary image." %}
      </div>
      <div class="unit xs-1 l-1-2 gutter unit-pull-l-1-2">
        <h2 class="exa">Life with Gutz</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros purus, egestas at mi non, porta luctus mi. Vivamus molestie neque ligula, non ultrices nisi ullamcorper a. Nulla ac diam id sapien condimentum convallis. In condimentum nisi in dolor lobortis imperdiet. Proin eu blandit dolor. Curabitur ut velit lorem. Ut maximus fermentum mattis. Donec metus metus, cursus a nunc ac, convallis euismod nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros purus, egestas at mi non, porta luctus mi.</p>
      </div>
    </div>
    <img class="img-flex behind" src="{{site.baseurl}}/images/bg-shapes/about-mid.svg" role="presentation">
    <div class="edges2 grid grid-middle animate-in">
      <div class="unit xs-1 l-1-2 gutter-3">
        {% include img.html img="/images/temp.jpg" alt="A temporary image." %}
      </div>
      <div class="unit xs-1 l-1-2 gutter">
        <h2 class="exa">Katie</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros purus, egestas at mi non, porta luctus mi. Vivamus molestie neque ligula, non ultrices nisi ullamcorper a. Nulla ac diam id sapien condimentum convallis. In condimentum nisi in dolor lobortis imperdiet. Proin eu blandit dolor. Curabitur ut velit lorem. Ut maximus fermentum mattis. Donec metus metus, cursus a nunc ac, convallis euismod nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eros purus, egestas at mi non, porta luctus mi.</p>
      </div>
    </div>
  </div>
</div>
