---
layout: default
title: About
footer-shape: about-2
---

<div class="pg-top">
  <div class="push-2 pad-b-2">
    <div class="relative push">
      <h1 class="f-sp white pad-t-2 text-center nina bg-prim">About</h1>
      <img class="behind bg-shape-about-1" src="{{site.baseurl}}/images/bg-shapes/about-1.svg" role="presentation">
    </div>
    <div class="edges2 grid grid-middle pad-t-2 animate-in">
      <div class="unit xs-1 l-1-2 gutter-3 unit-push-l-1-2 push-0">
        {% include img.html img="/images/lwg-about-gutz.jpg" alt="Gutz holding a ring of fire and dressed in beautiful teal fairy wings, nighttime." %}
      </div>
      <div class="unit xs-1 l-1-2 gutter unit-pull-l-1-2">
        <h2 class="exa">Life with Gutz</h2>
        <p>Life with Gutz is my adventure online. A place where I explore building a personal brand and using my voice amid the cacophony online. Personal Brand? It's cringey AF to say, but the internet is a great equalizer. It's my entrepreneurial adventure, and I don't know exactly where it's headed yet, but I plan on documenting the journey. In a world on fire that chews up people as nothing more than 'human capital,' I thought I'd start creating my own opportunities that don't harm and maybe even help...and I'm going to have fun doing it.</p>
        <p class="micro">Photograph by <a href="https://www.wbgphotography.com/Portfolio/Portfolio">Bill Gorham</a>.</p>
      </div>
    </div>
    <img class="img-flex behind" src="{{site.baseurl}}/images/bg-shapes/about-mid.svg" role="presentation">
    <div class="edges2 grid grid-middle animate-in">
      <div class="unit xs-1 l-1-2 gutter-3">
        {% include img.html img="/images/lwg-about-katie.jpg" alt="A headshot of Katie." %}
      </div>
      <div class="unit xs-1 l-1-2 gutter">
        <h2 class="exa">Katie</h2>
        <p>Also known as Kate, Kathleen, and Gutz (pronounced Gootz), is an award-winning video professional with over a decade of experience. Her work has been seen on CBC's Doczone and various national outlets in her capacity as a video director and editor for The War Amps of Canada. Check out her <a href="https://www.linkedin.com/in/kathleengutzman/">LinkedIn</a> for a full list of credits and awards. When she's not creating videos, she's playing with fire or exploring another of her many artistic outlets. Always curious with a focus on growth, this life is meant to be lived.</p>
      </div>
    </div>
  </div>
</div>
