---
layout: default
title: Contact
footer-shape: contact-2
---

<div class="pg-top">
  <div>
    <div class="relative push">
      <h1 class="f-sp white pad-t-2 text-center nina bg-prim">Contact</h1>
      <img class="behind bg-shape-about-1" src="{{site.baseurl}}/images/bg-shapes/contact-1.svg" role="presentation">
    </div>
    <section>
      <div class="edges2 grid grid-middle pad-t-2 animate-in">
        <div class="unit xs-1 l-1-2 gutter-3 push">
          {% include img.html img=site.data.contact.contact.image alt=site.data.contact.contact.alt %}
        </div>
        <div class="unit xs-1 l-1-2 gutter f-second normal">
          <h2 class="exa">{{site.data.site.contact.title}}</h2>
          <p>{{site.data.site.contact.para}}</p>
          {% include form-connect.html %}
        </div>
      </div>
    </section>
    <img class="img-flex behind pad-t-2" src="{{site.baseurl}}/images/bg-shapes/contact-mid.svg" role="presentation">
    <section class="animate-in">
      {% include email-subscription.html %}
    </section>
  </div>
</div>
