---
layout: default
titleAfter: Fire Performer and Videographer
footer-shape: index-3
---
<div class="pg-top">
  <div class="push-2 pad-b-2">
    <div class="banner relative push-2 img-loader" style="background-image: url(/images/uploads/{{site.data.index.index.banner-image}}.jpg)">
      <div class="banner-elements">
        <h1 class="h1-index">{{site.data.index.index.welcome-line}}</h1>
        <img class="bg-shape-index-1" src="{{site.baseurl}}/images/bg-shapes/index-1.png" role="presentation">
      </div>
    </div>
    <div class="edges2 grid grid-middle push-2 pad-t-2 animate-in">
      <h2 class="hidden">I'm Gutz.</h2><img class="unit xs-1 l-1-4 im-gutz pad-b" src="{{site.baseurl}}/images/im-gutz.svg" alt="I'm Gutz.">
      <p class="unit xs-1 l-3-4 mega f-second light push-0 pad-b">{{site.data.index.index.tagline}}</p>
    </div>
  </div>
  <section class="edges2 push-2 pad-t-2 pad-b-2 animate-in">
    {% for post in site.posts limit:1 %}
      {% include blog-preview.html %}
    {% endfor %}
  </section>
  <section class="push-2 pad-t-2 pad-b-2 ">
    {% include more-recent-blog.html %}
  </section>
  <section class="animate-in">
    {% include email-subscription.html %}
  </section>
</div>
