<div class="edges2 categories">
  <p class="giga f-second white push-r-1-2">Categories:</p>
  <ul class="list-group-inline giga f-second white">
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'blog' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/">All</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'occult' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/occult/">Occult</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'selfcare' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/selfcare/">Self-care</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'flow' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/flow/">Flow</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'writing' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/writing">Writing</a>
    </li>
  </ul>
</div>
