<div class="edges2 categories">
  <p class="giga f-second white push-r-1-2">Categories:</p>
  <ul class="list-group-inline giga f-second white">
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'blog' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/">All</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'freelance-entrepreneurship' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/freelance-entrepreneurship/">Freelance & Entrepreneurship</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'growth-goodlife' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/growth-goodlife/">Growth & The Good Life</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'art-movement' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/art-movement/">Art & Movement</a>
    </li>
    <li class="push-1-2">
      <a class="giga f-second less-white {% if page.url contains 'storytelling' %}current-cat{% endif %}" href="{{site.baseurl}}/blog/storytelling">Storytelling</a>
    </li>
  </ul>
</div>
