<div class="socials-fixed">
  {% include social-icon.html icon-link=site.data.site.socials.facebook i-size="i-32" icon-img="facebook" %}
  {% include social-icon.html icon-link=site.data.site.socials.instagram i-size="i-32" icon-img="instagram" %}
  {% include social-icon.html icon-link=site.data.site.socials.youtube i-size="i-32" icon-img="youtube" %}
  {% include social-icon.html icon-link=site.data.site.socials.twitter i-size="i-32" icon-img="twitter" %}
  {% include social-icon.html icon-link=site.data.site.socials.tiktok i-size="i-32" icon-img="tiktok" %}
  {% include social-icon.html icon-link=site.data.site.socials.pinterest i-size="i-32" icon-img="pinterest" %}
  {% include social-icon.html icon-link=site.data.site.socials.twitch i-size="i-32" icon-img="twitch" %}
  {% include social-icon.html icon-link=site.data.site.socials.linked-in i-size="i-32" icon-img="linked-in" %}
</div>
