<div class="socials-fixed">
  {% include social-icon.html icon-link="https://www.facebook.com/lifewithgutz" i-size="i-32" icon-img="facebook" %}
  {% include social-icon.html icon-link="https://www.instagram.com/lifewithgutz/" i-size="i-32" icon-img="instagram" %}
  {% include social-icon.html icon-link="https://www.youtube.com/KatieGutz" i-size="i-32" icon-img="youtube" %}
  {% include social-icon.html icon-link="https://twitter.com/KatieGutz" i-size="i-32" icon-img="twitter" %}
  {% include social-icon.html icon-link="https://www.tiktok.com/@lifewithgutz" i-size="i-32" icon-img="tiktok" %}
  {% include social-icon.html icon-link="https://www.pinterest.ca/LifewithGutz/" i-size="i-32" icon-img="pinterest" %}
  {% include social-icon.html icon-link="https://www.twitch.tv/lifewithgutz" i-size="i-32" icon-img="twitch" %}
  {% include social-icon.html icon-link="https://www.linkedin.com/in/kathleengutzman/" i-size="i-32" icon-img="linked-in" %}
</div>
